<!DOCTYPE html>
<html lang="en">
{% include 'admin/news/parts/head.twig' %}
<body>

<div class="container-fluid">
    {% include 'admin/news/parts/header.twig' %}
    <!-- navbar -->

    <!-- form -->
    <div class="container">
        <div class="col-md-10 offset-1">
            <a href="/album/" class="btn btn-light go-back" role="button">Albums</a>
            <!-- form  -->
            <div class="card card-outline-secondary NewsForm">
                <div class="card-header">
                    <h3 class="mb-0 headingForm">{{ album.title }}</h3>
                </div>
                <!--card body-->
                <div class="card-body">
                    <form class="form" action="/album/update/{{ album.id }}" method="POST" id="createForm"
                          enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="title">Izmeni Naslov</label>
                            <input type="text" class="form-control" name="title" value="{{ album.title }}">
                            <button type="submit" class="btn btn-success mt-1">Confirm
                            </button>
                        </div>
                        <div class="form-group">
                            <label for="english_title">Izmeni Naslov Na Engleskom</label>
                            <input type="text" class="form-control" name="english_title"
                                   value="{{ album.english_title }}">
                            <button type="submit" class="btn btn-success mt-1">Confirm
                            </button>
                        </div>
                    </form>
                    <div class="row">
                        <div class="col-6">
                            <form class="form" action="/album/upload/{{ album.id }}" method="POST" id="createForm"
                                  enctype="multipart/form-data">
                                <div class="form-group">
                                    <label for="image">Unesi Sliku</label>
                                    <input type="file" class="form-control" name="image"
                                           accept="image/jpeg,image/png,image/jpg">
                                    <button type="submit" class="btn btn-success mt-1">Confirm
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div class="col-6">
                            <div class="admin-buttons">
                                <form action="#" method="post">
                                    <button type="submit" class="btn btn-danger float-right px-3 py-2"
                                            role="button">Delete
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    </form>
                    <hr>
                    <div class="row mb-2">
                        {% for image in album.images %}
                            <div class="col-md-4 my-2">
                                <div class="thumbnail">
                                    <a href="">
                                        <img src="{{ image.url }}" alt="Fjords" style="width:100%"
                                             class="mb-1">
                                    </a>
                                    <div class="caption text-center">
                                        <form action="/album/image/{{ image.id }}" method="post">
                                            <button type="submit" class="btn btn-danger" role="button">
                                                Delete
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        <hr>
                    </div>
                    <!--/card-body-->
                </div>
                <!-- /form -->
            </div>
        </div>
        <!-- end form -->

    </div>
</body>
<script src="/public/admin/assets/validation.js"></script>
</html>