<!DOCTYPE html>
<html lang="en">
{% include 'admin/parts/head.twig' %}
<body>

<div class="container-fluid">
    {% include 'admin/parts/header.twig' %}
    <!-- navbar -->

    <!-- table -->
    <div class="container">
        {# <table class="table table-hover table-light">
                 <thead>
                 <tr>
                     <th scope="col" class="admin-buttons">
                         <form action="/news/delete/{{ news.id }}" method="post">
                             <button type="submit" class="btn btn-danger float-right" role="button">Delete</button>
                         </form>
                         <a href="/news/edit/{{ news.id }}" class="btn btn-primary float-right" role="button">Edit</a>
                         <span>{{ news.title }}</span>
                         <span class="float-right" style="margin-right:5px;">{{ news.created|date("M/d/Y") }}</span>
                     </th>
                 </tr>
                 </thead>
                 <tbody>
                 <tr>
                     <td scope="row">{{ news.content }}</td>
                 </tr>
                 </tbody>
         </table>#}{% for oneNews in news %}
        <div class="col-md-7 offset-2">
            <a href="/news/news" class="btn btn-light go-back" role="button">News</a>
            <div class="card card-outline-secondary NewsForm">
                <div class="card-header">
                    <h3 class="mb-0 headingForm">Detalji Vesti</h3>
                </div>
                <!--card body-->
                <div class="card-body">
                    <div class="form-group">
                        <img src="{{ oneNews.images.url }}" class="w-100" alt="picture">
                    </div>
                    <div class="form-group">
                        <p><b>Naslov:</b></p>
                        <p>{{ oneNews.title }}<span class="float-right">{{ oneNews.created|date("M/d/Y") }}</span></p>
                    </div>
                    <div class="form-group">
                        <hr>
                        <p><b>Tekst:</b></p>
                        <p>{{ oneNews.content }}</p>
                    </div>
                    <div class="form-group">
                        <hr>
                        <p><b>Kategorija:</b></p>
                        <p>{{ oneNews.category }}</p>
                    </div>
                    <div class="form-group">
                        <hr>
                        <p><b>Jezik:</b></p>
                        <p>{{ oneNews.language }}</p>
                    </div>
                    <div class="admin-buttons">
                        <hr>
                        <form action="/news/delete/{{ oneNews.id }}" method="post">
                            <button type="submit" class="btn btn-danger float-right" role="button">Delete</button>
                        </form>
                        <a href="/news/edit/{{ oneNews.id }}" class="btn btn-primary float-right" role="button">Edit</a>
                    </div>
                </div>{% endfor %}
                <!--/card-body-->
            </div>
        </div>
        <!--/card-body-->
    </div>
</div>
<!-- end table -->

</div>

</body>
</html>